.header {
  @include display_flex($align: center, $justify: space-between, $gap: rem(16));

  margin-top: rem(25);
  margin-bottom: rem(25);

  font-family: $ff-inter;
  font-size: rem(16);
  line-height: rem(26);
  text-transform: uppercase;

  &-content {
    position: relative;
    @include display_flex($align: center, $justify: space-between);

    width: 100%;

    padding: rem(9.5) rem(28);

    border: 1px solid $color-black;
    border-radius: 16px;
  }

  &-logo {
    @include display_flex($align: center, $gap: rem(15));

    svg {
      @include imageSize(rem(30));
    }

    span {
      font-size: rem(26);
      font-weight: 700;
    }
  }

  &-nav {
    @include display_flex($align: center, $gap: rem(40));
    padding: rem(18) 0;
  }

  &-button {
    border-radius: 16px;
  }

  &-box {
    position: absolute;
    inset: -3px;

    transform: rotateX(-180deg) rotateY(-180deg);
  }
}
