.slide-third {
  .text-container {
    max-width: rem(750);

    margin: 0 auto rem(84);

    text-align: center;

    .section-title {
      margin-bottom: rem(40);

      &-underline {
        bottom: 0%;
        right: 3%;

        transform: translate(-50%, 10%) scaleY(2);

        svg {
          @include imageSize(rem(310));
        }
      }
    }

    .slide-text {
      opacity: 0.6;
    }
  }

  .line-container {
    padding-bottom: rem(100);

    .line-block {
      @include display_flex($align: center, $gap: rem(54));

      position: relative;
      white-space: nowrap;

      color: $color-white;

      padding: rem(45) rem(35);
      margin-left: -2rem;

      width: 100%;

      transform: rotate(-5deg);

      .line-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 200%;
        background: $color-black;
      }

      .line-item {
        @include display_flex($align: center, $gap: rem(36));

        .item-image {
          max-width: rem(192);
          height: rem(130);

          img {
            border-radius: rem(65);

            max-width: rem(192);
            height: rem(130);

            object-fit: cover;
          }
        }

        .item-details {
          .item-title {
            font-size: rem(84);
            font-weight: 700;
            line-height: 0.96;
          }

          .item-text {
            font-size: rem(28);
            line-height: 0.96;
          }
        }
      }
    }
  }
}
