// fonts
$ff-inter: 'Inter', sans-serif;
$ff-gothic: 'Gothic A1', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

// fonts sizes
$fz-normal: 20px;

// colors
$color-black: #000;

$color-white: #fff;
$color-white-fd: #fdf9ff;
$color-white-f4: #f4f4f4;

$color-grey-ee: #eee;
$color-grey-bd: #bdbdbd;
$color-grey-4f: #4f4643;
$color-grey-72: #727272;
$color-grey-3f: #3f3f3f;
$color-grey-1e: #1e1e20;
$color-grey-transparent: rgba(94, 94, 94, 0.6);

$color-green-08: #08231e;
$color-green-82: #82ff8e;
$color-green-12: #124536;

$color-blue: #122045;

$color-purple: #c68dff;
